# ==========================
# Build Outputs
# ==========================
**/bin/
**/obj/

# ==========================
# Visual Studio
# ==========================
.vs/
*.user
*.suo
*.csproj.user

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# JetBrains Rider
# ==========================
.idea/